@import "../../../../assets/style/styles";

.reset-block {
  background-color: #302d2d;
  border-radius: 25px;
  z-index: 3;
  @include size(500px, max-content);
  @include flex-box(column, nowrap, center, center);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

:host ::ng-deep {
  .mat-mdc-text-field-wrapper {
    border-bottom-right-radius: var(--mdc-filled-text-field-container-shape);
    border-bottom-left-radius: var(--mdc-filled-text-field-container-shape);
  }

  .mat-mdc-button-disabled .mdc-button__label {
    color: rgba(255, 255, 255, 0.767) !important;
  }
}
