@import "../../../../assets/style/styles";

.login-block-wait {
  background-color: #302d2d;
  border-radius: 25px;
  z-index: 3;
  @include size(500px, max-content);
  @include flex-box(column, nowrap, center, center);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
